---
import Link from "../global/Link.astro";
---

<section class="overflow-hidden relative">
  <div class="px-8 md:px-12 py-4 max-w-2xl mx-auto font-semibold text-3xl">
    <p class="inline-flex items-end gap-1">
      {`akshaykp`}<span class="animate animate-spin bg-black size-1 block mb-2"
      ></span>
    </p>
  </div>
  <div class="px-8 md:px-12 pb-24 max-w-2xl mx-auto relative">
    <div class="flex gap-3 flex-wrap">
      <Link url="https://github.com/axshaykp" title="Github" />
      <Link url="mailto:admin@akshaykp.in" title="admin@akshaykp.in" />
      <Link
        url="https://www.linkedin.com/in/akshay-k-p-2a5001230/"
        title="LinkedIn"
      />
      <Link url="/files/AKSHAY_K_P_Resume.pdf" title="Resume" />
    </div>
    <h2
      class="text-4xl md:text-5xl mt-12 tracking-tighter leading-normal font-normal text-black"
    >
      &lt;WebDeveloper &#47;&gt; <span class="block font-extralight"
        >React js, Next js, Remix, Astro</span
      >
    </h2>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>
          Self-taught Web Developer with 2+ years of experience, based in
          Kerala, India.
        </p>
      </div>
      <div>
        <p>
          HTML, CSS, SCSS, TailwindCSS, JavaScript, Typescript, Astro, Next.js,
          Remix, React.js, Vite, etc.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          Current status. <span class="block text-black"
            >⏤ <span class="underline">Software Engineer - Front-End</span> @ Staxlabs
            Inc Pvt Ltd</span
          >
        </p>
      </em>
    </ul>
  </div>
</section>
