<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-black">
        Hire me
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Got an idea or project? Contact me through my email (preffered).
        <br /><br />
        <a class="underline text-black font-medium" href="mailto:admin@akshaykp.in">admin@akshaykp.in</a>
        <br /><br />
        Will reply back to you as soon as possible (less than 24 hours).
      </p>
    </div>
  </div>
</section>
