<section>
  <div class="px-8 md:px-12 max-w-2xl mx-auto">
    <div class="grid grid-cols-4 gap-px rounded-3xl overflow-hidden sm:mx-0">
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=react"
          alt="React js"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=remix"
          alt="Remix"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=nextjs"
          alt="Next js"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=js"
          alt="js"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=ts"
          alt="ts"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=redux"
          alt="redux"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=vite"
          alt="vite"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=tailwind"
          alt="tailwind"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=html"
          alt="html"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=css"
          alt="css"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=sass"
          alt="sass"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=astro"
          alt="astro"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=bash"
          alt="bash"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=git"
          alt="git"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=supabase"
          alt="supabase"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=prisma"
          alt="prisma"
          width="158"
          height="48"
        />
      </div>

      <div class="p-4 items-center flex bg-white col-span-2">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=arch"
          alt="arch"
          width="158"
          height="48"
        />
      </div>
      <div class="p-4 items-center flex bg-white col-span-2">
        <img
          class="max-h-8 w-full object-contain"
          src="https://skillicons.dev/icons?i=linux"
          alt="linux"
          width="158"
          height="48"
        />
      </div>
    </div>
  </div>
</section>
